
header {
    min-height: 100px;
    background-color: #3161E0;
    align-content: center;
    flex-direction: column;
}

nav {
    width: 80%;
    justify-content: space-between;
    margin: 3% auto;
    vertical-align: middle;
}

button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: larger;
}

button img {
    width: 0.5em;
    fill: blue;
}

ul {
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    color: white;
}

.container {
    min-height: 350px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.layout {
    width: 70%;
    max-width: 1400px;
    min-height: 300px;
}

.footer {
    border-top: 1px solid #D6D7D7;
    min-height: 100px;
    justify-content: center;
    align-items: flex-end;
}
img {
    width: 100%;
}

.title {
    font-size: 2em;
    font-weight: 600;
    padding: 10px;
}

nav .logo {
    min-width: 10%;
    padding: 5px;
}

nav .link {
    min-width: 60%;
    text-align: center;
    padding: 5px;
}

nav .login {
    min-width: 10%;
    text-align: end;
    padding: 5px;
}

.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbo .intro {
    width: 50%;
    height: 250px;
    flex-direction: column; 
    justify-content: center;
    align-items: center;              
}

.subtitle {
    font-size: 1.5em;
    font-weight: 400;
}

.container .layout.left {
    background-color: #F08080;
    width: calc((70% /6)* 2);
}

.container .layout.right {
    background-color: #20B2AA;
    width: calc((70% / 6)* 4);
}

.container .layout.right div {
    width: calc(100% / 4);
    border: dashed 1px white;
}

.footer .layout {
    background-color: #7FFFD4;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
}

.footer .layout div {
    background-color: #FFB6C1;
    padding: 5px;
}